<% content_for :pane_1 do -%>
<h2>Decks!</h2>
<%= link_to "+ new", new_deck_path %>
<% end -%>

<% content_for :pane_2 do -%>
<table id="deck_list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cards</th>
      <th>Created</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
  <% @decks.each do |deck| -%>
  <tr>
    <td><%= link_to h(deck.name), deck_path(deck) %></td>
    <td><%= deck.cards.count %></td>
    <td><%= deck.created_at %></td>
    <td><%= deck.updated_at %></td>
  </tr>
  <% end -%>
  </tbody>
</table>
<% end -%>